:root {
  --accent-purple-clr: #292F4F;
  --glow-clr: hsla(263, 77%, 50%, 0.4);
  --btn-hover__bg1: hsla(263, 100%, 80%, 0.3);
  --btn-hover__bg2: hsla(263, 77%, 50%, 0.3);

  --btn-hover: linear-gradient(120deg, var(--btn-hover__bg1) 0%, var(--btn-hover__bg2) 100%);

  --wrapper-padding-inline: 50px;
  --wrapper-max-width: 1340px;

  --section-padding-block: 50px;
}

@import './scss/btn.scss';
@import './scss/animations.scss';

[data-aos] {
  body[data-aos-easing="custom"] &,
  &[data-aos][data-aos-easing="custom"] {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 800ms;
  }
}

[data-aos="bounce"] {
  --animate-duration: 1.2s;
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    animation-duration: calc(var(--animate-duration) * 0.8);
    animation-fill-mode: both;
    animation-name: bounceIn;
  }
}

[data-aos="jello"] {
  --animate-duration: 2s;
  animation-name: jello;
  transform-origin: center;
  transition-property: transform, opacity;

  &.aos-animate {
    animation-duration: calc(var(--animate-duration) * 0.75);
    animation-fill-mode: both;
    animation-name: jello;
  }

}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background-color: var(--accent-purple-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-out, visibility 0s 1s, transform 1s ease-in-out;
  opacity: 1;
  visibility: visible;
  z-index: 101;
  overflow: hidden;
  transform-origin: center center;

  img {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    max-width: 200px;
    width: 100%;
  }
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.5);
}

.story-section {
  padding-top: 100px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}

.story__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;

  .story__col {
    padding: 85px 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
      margin-bottom: 35px;
    }
  }

  .story__col-img {
    position: relative;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 3;
    }

    &::after {
      content: '';
      position: absolute;
      top: 45%;
      left: 45%;
      transform: translate(-50%, -50%);
      background-size: contain;
      width: 910px;
      height: 831px;
      background-repeat: no-repeat;
      background-image: url('./assets/story/gradient.webp');
      background-size: cover;
    }

    &:last-of-type {
      padding-top: 0;
    }
  }

  .story__col-text {
    position: relative;
    z-index: 3;
    > * :not(.dec) {
      position: relative;
      z-index: 3;
    }
    .dec {
      left: -200px;
      top: -50px;
      @media (max-width: 1439px) {
        width: 150px;
        height: 150px;
        left: -100px;
        top: 0;
      }

      @media (max-width: 1210px) {
        left: 300px;
        transform: rotate(130deg);
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
    &:nth-child(even) {
      .story__col-text-wrap {
        margin-left: auto;
        max-width: 515px;
      }
    }
  }

  .story__col-text-wrap {
    max-width: 475px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 50px;
    .story__col {
      padding: 0;

      &:nth-child(1) {
        order: 1;
        padding-top: 50px;
        padding-bottom: 40px;
      }
      &:nth-child(2) {
        order: 2;
        margin-bottom: 40px;
      }
      &:nth-child(3) {
        order: 4;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
      &:nth-child(4) {
        order: 3;
        margin-bottom: 40px;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }

    }
    
    .story__col-text-wrap {
      max-width: 100%;
    }

    .story__col-text {
      &:nth-child(even) {
        .story__col-text-wrap {
          margin-left: 0;
          max-width: 100%;
        }
      }
    }
  }
}

.dec {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.token__wrapper {
  position: relative;
  padding-top: 100px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    height: 100%;
    transform: translate(-50%, 0);
    background: linear-gradient(180deg, rgba(238,41,255,1) 0%, rgba(128,37,255,1) 50%, rgba(23,33,255,1) 100%);
    border-radius: 100%;
    // background-image: url('./assets/token-utility/gradient.webp');
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
    filter: blur(100px);
    opacity: 0.7;
  }
}

.token-stack {
  --gap: 20px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.MuiPaper-root.token {
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 35px;
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: rgba(0, 0, 0, .6);

  @media (min-width: 320px) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column: 1 / span 12;
    }
  }

  @media (min-width: 575px) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      grid-column: 2 / span 10;
    }
  }

  @media (min-width: 768.98px) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      grid-column: span 6;
    }

    &:nth-child(5) {
      grid-column: 2 / span 10;
    }
  }

  @media (min-width: 1024.98px) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 4;
    }

    &:nth-child(4) {
      grid-column: 2 / span 5;
    }

    &:nth-child(5) {
      grid-column: 7 / span 5;
    }
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(202,222,255);
    background: linear-gradient(0deg, rgba(202,222,255,1) 0%, rgba(105,30,226,1) 30%);
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 25px;
  }
}

.MuiPaper-root.token > img {
  margin-bottom: 25px;
}

.invite__wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: 650px;
    background: rgb(202,222,255);
    background: linear-gradient(90deg, rgba(238,41,255,1) 0%, rgba(23,33,255,1) 100%);
    opacity: .2;
    border-radius: 50%;
    filter: blur(100px);
  }
}

.invite__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.invite__grid {
  --_gap: 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--_gap);

  @media (max-width: 1439px) {
    --_gap: 40px; 
  }
  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }
}

.invite__icon {
  position: absolute;
  left: 0;
  top: 0;

  background-color: #000;
  border-radius: 50%;
}

.invite-list {
  position: relative;
}

.invite-list__item {
  position: relative;

  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      top: 50px;
      left: 23px;
      background-image: url("data:image/svg+xml,%3Csvg width='2' height='73' viewBox='0 0 2 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1' y1='72' x2='1' y2='1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-dasharray='10 10'/%3E%3C/svg%3E%0A");
      width: 2px;
      height: 100%;
    }
  }
}

.invite__item-box {
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 35px;

  .invite__item-group {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .invite__input {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 18px 25px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    button {
      min-width: 0;
    }
  }
}

.swap__wrapper {
  --card-size: 370px;
  --gap: 25px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-size), 1fr));
  gap: var(--gap);
  align-items: center;
  place-items: center;

  > * {
    position: relative;
    z-index: 2;
  }
}

.tokenomics__wrapper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 580px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1280px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .dec {
    z-index: 3;
  }

  .dec-star {
    position: absolute;
    left: -50px;
    top: 100px;
    width: 240px;
    z-index: 3;
  }

  .dec-coin-lg {
    left: -50px;
    top: 60px;
    width: 126px;
    height: 139px;
    z-index: 4;
  }

  .dec-coin-lg-op {
    right: -60px;
    bottom: 0;
    width: 140px;
    height: 155px;
    z-index: 3;
  }

  .dec-coin-sm {
    right: -80px;
    top: 40px;
    z-index: 3;
  }

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1725px;
    height: 1050px;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='848' viewBox='0 0 1440 848' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_3359_71)'%3E%3Cellipse cx='757.5' cy='424' rx='662.5' ry='224' fill='url(%23paint0_linear_3359_71)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_3359_71)'%3E%3Crect x='268.241' y='317.057' width='928.846' height='307.715' fill='url(%23paint1_linear_3359_71)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_3359_71' x='-105' y='0' width='1725' height='848' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_3359_71'/%3E%3C/filter%3E%3Cfilter id='filter1_f_3359_71' x='68.2412' y='117.057' width='1328.85' height='707.715' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_3359_71'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_3359_71' x1='757.5' y1='200' x2='757.5' y2='648' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300C2FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF29C3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3359_71' x1='732.664' y1='317.057' x2='732.664' y2='624.771' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23184BFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23174AFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 2;
    opacity: 0.7;
    filter: blur(100px);
  }
}

.tokenomics {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  .tokenomics__item {
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    background-color: rgba(0, 0, 0, .6);
    row-gap: 10px;

    > p {
      word-break: break-all;
    }

    > * {
      &:first-child {
        margin-right: 20px;
        line-height: 1;
      }
    }

    &:nth-child(3n) {
      grid-column: 1 / -1;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.why__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 70px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }


  .why-box {
    > img {
      margin-bottom: 35px;
    }
  }
}

.faq__wrapper {
  position: relative;
  div > * {
    position: relative;
    z-index: 2;
  }
  &::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 650px;
    background: rgb(202,222,255);
    background: 
    linear-gradient(180deg, #00C2FF 0%, #691EE2 40%),
    linear-gradient(180deg, rgba(23,33,255,1) 40%, rgba(238,41,255,1) 100%)
    ;
    opacity: .7;
    border-radius: 50%;
    filter: blur(100px);
  }

  .dec-star {
    right: -250px;
    bottom: -100px;
  }
  .dec-ellipse {
    left: -470px;
    top: -100px;
    transform: rotate(35deg);
  }
}

.gold-cat__img {
  position: relative;
  img {
    max-width: 635px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
}


.footer__grid {
  display: grid;
  > * {
    position: relative;
    z-index: 2;
  }

  .footer__copyright {
    border-top: 1px solid #fff;
    padding: 35px 0;
  }

  .footer__cat {
    > img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
      margin: 0 auto;
      display: block;
    }
  }

  @media (min-width: 320px) {
    grid-template-columns: 1fr;
    gap: 40px;

    .footer__cat {
      display: none;
    }
    .footer__copyright {
      padding-bottom: 0;
    }
  }

  @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 50px 50px 80px 130px 20px;

    gap: 30px 30px;

    .footer__logo {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .footer__socials {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
    .footer__text {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      margin-top: 0;
      padding-right: 0;
    }
    .footer__cat {
      grid-column: 3 / 4;
      grid-row: -6 / -1;
      display: block;
    }
    .footer__copyright {
      grid-column: 1 / 3;
      grid-row: 5 / 6;
    }
  }

  @media (min-width: 1280px) {
    grid-template-columns: 350px auto 320px;
    grid-template-rows: 100px 50px auto 95px 40px;
    gap: 50px 30px;

    .footer__logo {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
    .footer__socials {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .footer__text {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      padding-bottom: 15px;
      max-width: 570px;
      padding-right: 60px;
      margin-left: auto;
      margin-top: 50px;
      text-wrap: balance;

    }
    .footer__cat {
      grid-column: 3 / -1;
      grid-row: -1 / 1;
    }
    .footer__copyright {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      border-top: 1px solid #fff;
      padding: 35px 0;
    }
  }


}

.footer__wrapper {
  padding: 40px 0;
  border-radius: 20px;

  position: relative;
  > * {
    position: relative;
    z-index: 6;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    border-radius: 20px;
    height: 100%;
    z-index: 5;
    
  }

  @media (min-width: 960px) {
    &::before {
      top: 50%;
      height: 65%;
      transform: translateY(-50%);
    }
  }
}

.footer__socials {
  display: flex;
  > *:not(:last-child) {
    margin-right: 12px;
  }
}

.coming-soon__label {
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  background-color: var(--accent-purple-clr);
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  line-height: 1;
  min-width: 100px;
}