@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.header__actions-progress {
  max-width: 335px;
}

.header__actions-progress-bar {
  max-width: 100%;
  width: 100%;
  @media (max-width: 1180px) {
    max-width: 250px;
  }
  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.header__actions-progress-bar-fill {
  animation: fillProgress 2.4s forwards;
  animation-delay: 2300ms;
}

.header__actions-counter {
  img {
    @media (max-width: 1024px) {
      width: 18px;
      height: 18px;
    }
  }

  span {
    display: block;
    min-width: 45px;
    @media (max-width: 1024px) {
      min-width: 30px;
    }
  }
}
