@keyframes fillProgress {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

.header__actions-progress-bar-fill {
  animation: fillProgress 2.4s forwards;
}

.header__actions-counter {
  img {
    @media (max-width: 1024px) {
      width: 18px;
      height: 18px;
    }
  }

  span {
    display: block;
    min-width: 45px;
    @media (max-width: 1024px) {
      min-width: 30px;
    }
  }
}
