.gold-cat {
  padding-top: 100px;
  padding-bottom: 34px;
  position: relative;
  @media (max-width: 1024px) {
    padding-top: 60px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
    width: 1150px;
    height: 650px;
    background: linear-gradient(0deg, rgba(238,41,255,1) 0%, rgba(23,74,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    opacity: 0.7;
    pointer-events: none;
    border-radius: 40%;
    filter: blur(100px);
  }

  @media (max-width: 1024px) {
    padding-top: 80px;
  }
}

.gold-cat__row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .gold-cat__content {
    position: relative;
    z-index: 4;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 575px) {
    &::after {
      top: -150%;
      height: 500%;
    }
  }
}

