.features__row {
  display: grid;
  grid-template-columns: 1fr 250px;
  gap: 50px 150px;
  align-items: center;


  .features__item {
    position: relative;
    > *:not(.dec) {
      z-index:2;
      position: relative;
    }

    .features__phone {
      max-width: 250px;
      width: 100%;
    }

    .coming-soon__label {
      height: 35px;
      margin-top: -5px;

      @media (max-width: 575px) {
        margin-top: 0;
      }
    }
  }

  ul {
    li {
      img {
        width: 42px;
        height: 42px;
      }
    }
  }

  .btn.btn-sm {
    margin-top: 15px;
    width: 100%;
    max-width: 220px;
    justify-content: center;
    background-color: #1D1D1D;

    &:hover {
      background-color: var(--accent-purple-clr);
    }
  }

  .dec {
    right: -110px;
    bottom: -150px;
    z-index: 1;
    width: 500px;
    height: 500px;
    transform: rotate(10deg);
  }

  @media (max-width: 1280px) {
    gap: 50px;
  }
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;

    .features__item {
      &:last-of-type {
        margin-top: 50px;
      }
      &:first-of-type {
        max-width: 80%;
        margin: 0 auto;
      }

    }

    .dec {
      display: none;
    }

    ul {
      li {
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  @media (max-width: 575px) {
    .features__item {
      &:first-of-type {
        max-width: 100%;
      }

    }
  }

}