.hero {
  --_hero-padding-top: 150px;
  --_hero-padding-bot: 50px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    height: 150%;
    width: 150%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='1387' height='1358' viewBox='0 0 1387 1358' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_3200_512)'%3E%3Cellipse cx='693.5' cy='679' rx='493.5' ry='479' fill='url(%23paint0_linear_3200_512)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_3200_512)'%3E%3Crect x='379' y='641' width='619' height='438' fill='url(%23paint1_linear_3200_512)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_3200_512' x='0' y='0' width='1387' height='1358' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_3200_512'/%3E%3C/filter%3E%3Cfilter id='filter1_f_3200_512' x='179' y='441' width='1019' height='838' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_3200_512'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_3200_512' x1='693.5' y1='200' x2='693.5' y2='1158' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300C2FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF29C3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3200_512' x1='688.5' y1='641' x2='688.5' y2='1079' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23184BFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23174AFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 1;
    pointer-events: none;
    opacity: 0.7;

    @media (max-width: 1024px) {
      width: 300%;
      height: 300%;
      background-size: cover;
    }
  }

  .hero__container {
    position: relative;
    > * {
      position: relative;
      z-index: 2;
    }
  }

  .hero__header {
    grid-column:  1 / 4;
    h1 {
      font-size: clamp(2rem, 5vw, 5rem);
    }
    p {
      font-size: clamp(1rem, 2vw, 2rem);
    }
  }


  .hero__body {
    display: grid;
    grid-template-columns: 285px 1fr 230px;
    gap: 40px 22px;
    padding-top: var(--_hero-padding-top);
    padding-bottom: var(--_hero-padding-bot);

    .btn {
      margin-top: 260px;
    }
  }

  .hero__actions {
    display: flex;
    flex-direction: column;
  }

  .hero__body-cat {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    gap: 12px;
    .hero__body-img-main {
      max-width: 440px;
      grid-column: 2 / 3;
      img {
        width: 100%;
        display: block;
        object-fit: contain;
      }
    }
    .hero__body-decoration {
      padding-top: 100px;
      &:first-of-type {
        padding-top: 170px;
      }
      img {
        margin-bottom: 11px;
        display: block;
      }
    }
  }

  @media (max-width: 1200px) {
    .hero__container {
      &::before {
        width: 80%;
      }
    }
    .hero__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      .btn {
        margin-top: 0;
      }
    }

    .hero__actions {
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .header__actions-progress {
      width: 100%;
    }

    .hero__body-cat {
      margin-top: -200px;
      align-items: center;

      .hero__body-decoration {
        padding-top: 0;
        &:first-of-type {
          padding-top: 0;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    --_hero-padding-top: 100px;
    --_hero-padding-bot: 40px;
    overflow: hidden;

    .hero__body {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      min-height: 100vh;
      min-height: 100svh;
    }

    .hero__header {
      order: 1;
    }
    
    .hero__actions {
      flex-direction: column-reverse;
      gap: 20px;
      width: 100%;
      align-items: center;
      justify-content: center;
      order: 3;
    }

    .hero__actions-progress-text {
      display: none;
    }

    .header__actions-progress {
      width: 100%;
    }

    .hero__body-cat {
      display: flex;
      justify-content: center;
      margin-top: 0;
      width: 100%;
      max-width: 400px;
      order: 2;

      .hero__body-decoration {
        display: none;
      }

      .hero__body-img-main {
        img {
          width: 100%;
          max-width: 100%;
          height: 50vh;
        }
      }
    }
  }

  @media (max-width: 768px) {}

  @media (max-width: 575px) {
    .header__actions-progress {
      max-width: 100%;
    }
  }
}

