.hero {
  --_hero-padding-top: 150px;
  --_hero-padding-bot: 50px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    height: 150%;
    width: 150%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='1383' height='1360' viewBox='0 0 1383 1360' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_5002_3)'%3E%3Cellipse cx='689.5' cy='679' rx='493.5' ry='479' fill='url(%23paint0_linear_5002_3)'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_5002_3)'%3E%3Crect x='299' y='548' width='782' height='612' rx='306' fill='url(%23paint1_linear_5002_3)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_5002_3' x='-4' y='0' width='1387' height='1358' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_5002_3'/%3E%3C/filter%3E%3Cfilter id='filter1_f_5002_3' x='99' y='348' width='1182' height='1012' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_5002_3'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_5002_3' x1='689.5' y1='200' x2='689.5' y2='1158' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300C2FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF29C3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_5002_3' x1='690' y1='548' x2='690' y2='1160' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23184BFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23174AFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 1;
    pointer-events: none;
    opacity: 0.7;
  }

  .hero__container {
    position: relative;
    > * {
      position: relative;
      z-index: 2;
    }
  }

  .hero__header {
    grid-column:  1 / 4;
    h1 {
      font-size: clamp(2rem, 5vw, 5rem);
    }
    p {
      font-size: clamp(1rem, 2vw, 2rem);
    }
  }


  .hero__body {
    display: grid;
    grid-template-columns: 285px 1fr 230px;
    gap: 40px 22px;
    padding-top: var(--_hero-padding-top);
    padding-bottom: var(--_hero-padding-bot);

    .btn {
      margin-top: 260px;
    }
  }

  .hero__actions {
    display: flex;
    flex-direction: column;
  }

  .hero__body-cat {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    gap: 12px;
    .hero__body-img-main {
      max-width: 440px;
      grid-column: 2 / 3;
      img {
        width: 100%;
        display: block;
        object-fit: contain;
      }
    }
    .hero__body-decoration {
      padding-top: 100px;
      position: relative;

      .coming-soon__label {
        position: absolute;
        min-width: 135px;
        transform: rotate(10deg);
        top: -60px;
        right: -60px;
      }
      &:first-of-type {
        padding-top: 170px;
      }
      img {
        margin-bottom: 11px;
        display: block;
      }
    }
  }

  @media (max-width: 1200px) {
    .hero__container {
      &::before {
        width: 80%;
      }
    }
    .hero__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      .btn {
        margin-top: 0;
      }
    }

    .hero__actions {
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    .header__actions-progress {
      width: 100%;
    }

    .hero__body-cat {
      margin-top: -200px;
      align-items: center;

      .hero__body-decoration {
        padding-top: 0;
        &:first-of-type {
          padding-top: 0;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    --_hero-padding-top: 100px;
    --_hero-padding-bot: 90px;

    padding: var(--_hero-padding-top) 0 var(--_hero-padding-bot);

    min-height: 100vh;
    min-height: 100svh;

    &::before {
      // background-image: url("data:image/svg+xml,%3Csvg width='360' height='1743' viewBox='0 0 360 1743' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_3246_812)'%3E%3Ccircle cx='166' cy='430' r='329' fill='%23D9D9D9'/%3E%3Ccircle cx='166' cy='430' r='329' fill='url(%23paint0_linear_3246_812)' fill-opacity='0.5'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_3246_812)'%3E%3Cellipse cx='265.5' cy='282' rx='493.5' ry='479' fill='url(%23paint1_linear_3246_812)'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f_3246_812)'%3E%3Crect x='-98.9512' y='170.247' width='691.902' height='541.666' fill='url(%23paint2_linear_3246_812)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_3246_812' x='-1147' y='-883' width='2626' height='2626' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='492' result='effect1_foregroundBlur_3246_812'/%3E%3C/filter%3E%3Cfilter id='filter1_f_3246_812' x='-428' y='-397' width='1387' height='1358' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_3246_812'/%3E%3C/filter%3E%3Cfilter id='filter2_f_3246_812' x='-298.951' y='-29.7529' width='1091.9' height='941.666' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='100' result='effect1_foregroundBlur_3246_812'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_3246_812' x1='166' y1='101' x2='166' y2='759' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23EE29FF'/%3E%3Cstop offset='1' stop-color='%231721FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_3246_812' x1='265.5' y1='-197' x2='265.5' y2='761' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2300C2FF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF29C3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_3246_812' x1='247' y1='170.247' x2='247' y2='711.913' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23184BFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23174AFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      // width: 200%;
      // height: 200%;
      // top: -5%;
      // height: 200%;
      // width: 250vw;
      // width: 300%;
      // height: 300%;
      // left: 90%;
      // top: -10%;
    }

    .hero__body {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 0;
      // height: calc(100vh - var(--_hero-padding-top) - var(--_hero-padding-bot));
      // height: calc(100svh - var(--_hero-padding-top) - var(--_hero-padding-bot));
      // min-height: 100vh;
      // min-height: 100svh;
    }

    .hero__header {
      order: 1;
      p {
        max-width: 230px;
        margin: 0 auto;
      }
    }
    
    .hero__actions {
      flex-direction: column;
      gap: 20px;
      width: 100%;
      align-items: center;
      justify-content: center;
      order: 3;
    }

    .hero__actions-progress-text {
      p {
        max-width: 100%;
        text-align: center;
      }
    }

    .header__actions-progress {
      width: 100%;
      max-width: 320px;
    }

    .hero__body-cat {
      display: flex;
      justify-content: center;
      margin-top: 0;
      width: 100%;
      max-width: 400px;
      order: 2;
      position: relative;

      .hero__body-decoration {
        position: absolute;
        max-width: 87px;

        img {
          margin: 0 auto 10px;
        }

        
        &:first-of-type {
          left: 0;
          img {
            width: 35px;
            height: 35px;
          }
        }
        &:last-of-type {
          right: -20px;
          img {
            width: 36px;
            height: 30px;
          }

          .coming-soon__label {
            top: -45px;
            right: -40px;
            z-index: -1;
            min-width: 84px;
          }
        }
      }

      .hero__body-img-main {
        img {
          width: 100%;
          max-width: 100%;
          height: 500px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    --_hero-padding-bot: 50px;
    min-height: 100%;
    &::before {
      width: 400%;
      height: 220%;
    }
  }

  @media (max-width: 575px) {
    --_hero-padding-bot: 40px;
    &::before {
      width: 350%;
      height: 280%;
    }
    .header__actions-progress {
      max-width: 100%;
    }
    .hero__body-cat {
      .hero__body-img-main {
        img {
          height: 320px;
        }
      }
      .hero__body-decoration {
        &:last-of-type {
          right: 0;
        }
        &:last-of-type { 
          .coming-soon__label {
            right: -10px;
            min-width: 100px;
          }
        }
      }
    }
  }
}

